# Artefacts 
*.log
*.tsbuildinfo
**/coverage

# Built files
**/dist/**

# Node/yarn
node_modules
*.lock
*-lock.json

# Other
.env
**/.vscode

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions